{% extends 'base.html' %}

{% block title %}
Домашня Сторінка
{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <div class="main_plate">
                <div class="big_main_slider_plate">
                    <img src="https://placehold.co/450" alt="big_slider_plate">
                </div>
                <div class="little_main_plate">
                    <div class="first_plate">
                        <img src="https://placehold.co/223" alt="little_plate">
                    </div>
                    <div class="second_plate">
                        <img src="https://placehold.co/223" alt="little_plate">
                    </div>
                </div>
            </div>
            <div class="main_most_popular">
                <h2 class="main_header_text">Lorem, <span class="main_header_red_text">ipsum.</span></h2>
                <p class="main_subheader_text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                                Quisquam perferendis eos consequuntur eius? Nulla a totam, 
                                                natus incidunt similique voluptatum quae.</p>
                <div class="main_item_row">
                    <div class="main_item_card">
                        <a href="itempage"><img src="https://placehold.co/280" alt="item"></a>
                        <p class="main_most_popular_item_title">Lorem ipsum dolor sit.</p>
                        <p class="main_item_price">XXX₴</p>
                        <a href="itempage"><div class="main_item_buy_btn">Придбати</div></a>
                    </div>
                    <div class="main_item_card">
                        <a href="itempage"><img src="https://placehold.co/280" alt="item"></a>
                        <p class="main_most_popular_item_title">Lorem ipsum dolor sit.</p>
                        <p class="main_item_price">XXX₴</p>
                        <a href="itempage"><div class="main_item_buy_btn">Придбати</div></a>
                    </div>
                    <div class="main_item_card">
                        <a href="itempage"><img src="https://placehold.co/280" alt="item"></a>
                        <p class="main_most_popular_item_title">Lorem ipsum dolor sit.</p>
                        <p class="main_item_price">XXX₴</p>
                        <a href="itempage"><div class="main_item_buy_btn">Придбати</div></a>
                    </div>
                    <div class="main_item_card">
                        <a href="itempage"><img src="https://placehold.co/280" alt="item"></a>
                        <p class="main_most_popular_item_title">Lorem ipsum dolor sit.</p>
                        <p class="main_item_price">XXX₴</p>
                        <a href="itempage"><div class="main_item_buy_btn">Придбати</div></a>
                    </div>
                </div>
            </div>
            <div class="main_most_popular">
                <h2 class="main_header_text">Lorem, <span class="main_header_red_text">ipsum.</span></h2>
                <a class="wiev_all_main_btn" href="catalog">Усі пропозиції</a>
                <div class="main_item_row">
                    <div class="main_item_card">
                        <a href="itempage"><img src="https://placehold.co/280" alt="item"></a>
                        <p class="main_most_popular_item_title">Lorem ipsum dolor sit.</p>
                        <p class="main_item_price">XXX₴</p>
                        <a href="itempage"><div class="main_item_buy_btn">Придбати</div></a>
                    </div>
                    <div class="main_item_card">
                        <a href="itempage"><img src="https://placehold.co/280" alt="item"></a>
                        <p class="main_most_popular_item_title">Lorem ipsum dolor sit.</p>
                        <p class="main_item_price">XXX₴</p>
                        <a href="itempage"><div class="main_item_buy_btn">Придбати</div></a>
                    </div>
                    <div class="main_item_card">
                        <a href="itempage"><img src="https://placehold.co/280" alt="item"></a>
                        <p class="main_most_popular_item_title">Lorem ipsum dolor sit.</p>
                        <p class="main_item_price">XXX₴</p>
                        <a href="itempage"><div class="main_item_buy_btn">Придбати</div></a>
                    </div>
                    <div class="main_item_card">
                        <a href="itempage"><img src="https://placehold.co/280" alt="item"></a>
                        <p class="main_most_popular_item_title">Lorem ipsum dolor sit.</p>
                        <p class="main_item_price">XXX₴</p>
                        <a href="itempage"><div class="main_item_buy_btn">Придбати</div></a>
                    </div>
                </div>
            </div>
            <div class="bottom_plate_block">
                <div class="big_bottom_plate">
                    <div class="big_bottom_plug"></div>
                    <div class="big_bottom_text_block">
                        <h2 class="big_bottom_title">Lorem, <span class="big_bottom_title_yellow">ipsum.</span></h2>
                        <p class="big_buttom_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet maxime officiis reprehenderit quod.</p>
                        <a href="tel:111111"class="big_bottom_plate_phone_href">380-66-420-32-32</a>
                    </div>
                </div>
                <div class="little_bottom_plate_block">
                    <div class="first_little_bottom_plate">
                        <h2 class="first_little_title">Працюємо</h2>
                        <p class="first_little_time">11:11 - 22:22</p>
                        <p class="first_little_yellow">Без вихідних</p>
                    </div>
                    <div class="second_little_bottom_plate">
                        <p class="second_little_yellow">Місто</p>
                        <p class="second_little_white">Адреса</p>
                        <p class="second_little_yellow">Місто</p>
                        <p class="second_little_white">Адреса</p>
                        <p class="second_little_yellow">Місто</p>
                        <p class="second_little_white">Адреса</p>
                        <p class="second_little_yellow">Місто</p>
                        <p class="second_little_white">Адреса</p>
                    </div>
                </div>
            </div>

        </div>
    </main>
    {% endblock %}